body {
  font-family: "Noto Sans Mono";
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: brown;

  padding: 4em;
  text-align: center;
}

h1 {
  font-size: 30px;
}

#tombola {
  margin-top: 3em;
  height: 30%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
 
}
.number {
  display: inline-block;
  /* width: 3%; */
  /* height: 10px; */
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  font-size: 20px;
  font-weight: 700;
}

#selectNumber, #playerCard{
    margin-top: 2em;
}

button { margin-top: 1em;
font-size: 20px;
padding: 0.5em 1em;
border-radius: 5px;}

.numberDrawn {
    background-color: red;
}

#playerCard{
    width: 25%;
}